.read-more {
    font-size: 13px;
    width: fit-content;
    padding: 8px 10px;
    background-color: #0096ff;
    text-decoration: none;
    color: #fff;
    border-radius: 0.2em;
    display: inline-block;
    line-height: normal;
}

/* program general */
.program-general {
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(../img/VEXeducation.webp) center no-repeat;    
    background-size: cover;
    background-attachment:fixed;
    padding: 2em;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    box-sizing: border-box;
}

.program-general .general-content {
    box-sizing: border-box;
    padding: 1em;
    padding-bottom: 3em;
    /* background-color: #f7cf22d9; */
    background-color: #333;
    width: 35em;
    margin: 0 auto;
    border-radius: 5px;
}

.program-general h2 {
    text-align: center;
    padding: 1em;
    color: #D63333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.program-general p {
    font-size: 0.8em;
    color: #ccc;
}


/* Programs Section */
.programs-section {
    background-color: #ffffff;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: space-between;
}

.program {
    position: relative;
    width: 19em;
    height: 26em;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #6666;
    border-left: solid 1em #66ccff;
    font-size: 1.3em;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.program img {
    display: block;
    width: 100%;
    height: 50%;
}

.program h2,
.program-description {
    padding: 20px 30px;
}

.program h2 {
    color: #333333;
    font-size: 20px;
    height: 2em;
    padding-bottom: 0px;
}

.target-age {
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
}

.program-description {
    color: #555;
    font-size: 16px;
    /* margin-bottom: 10px; */
}

.program-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* h3 {
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
    flex-basis: 100%;
}

ul {
    list-style-type: none;
    /* margin-left: 20px; 
    color: #666666;
    flex-basis: 45%;
    font-size: 16px;
}*/

li {
    margin-bottom: 5px;
}

.program-outcome {
    flex-basis: 45%;
} */


/* Program section */
.program-details-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    font-size: 16px;
}

.program-learn,
.program-outcome {
    flex-basis: calc(45% - 10px);
    margin-bottom: 20px;
}

.program .read-more {
    position: absolute;
    top: 88%;
    left: 7%;
}

@media screen and (max-width: 980px) {
    .program-general {
        padding: 2em 1em;
    }
    .program-general .general-content {
        width: 100%
    }

    .programs-section {
        box-sizing: border-box;
        padding: 50px 10px;
        width: 100%;
    }
}

@media screen and (max-width: 890px) {
    .programs-section {
        box-sizing: border-box;
        padding: 50px 10px;
        width: 100%;
    }
    
    .program {
        width: 19em;
        height: 24em;
    }

    .program p {
        font-size: 0.9em;
    }
}

/* Media query for responsive layout */
@media screen and (max-width: 768px) {
    .program-general .general-content{
        /* /* padding: 1em; */
        padding-bottom: 2em; 
    }

    .program-general h2 {
        padding: 0.5em;
        padding-top: 0;
    }


    .programs-section {
        grid-template-columns: 1fr;
    }

    .program {
        width: 19em;
        border-left-width: 0.3em;
    }

    .program p {
        font-size: 0.9em;
    }

    .program-details-wrapper {
        flex-direction: column;
    }

    .program-learn,
    .program-outcome {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 460px) {
    .program {
        width: 95%;
        height: auto;
        box-sizing: border-box;
    }

    .program h2 {
        height: auto;
        padding-left: 15px;
    }

    .program-description {
        padding: 1em 0.8em;
        padding-bottom: 3em;
    }

    .program .read-more {
        left: 3%;
        top: calc(100% - 40px);
    }
}