* {
    font-family: Arial, sans-serif;
}

.about-team-section {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/RobotDrive.webp);
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    color: #fff;
}

.about-team-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-team-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-team-content {
    padding: 20px;
    border-radius: 5px;
}

.about-team-content p {
    font-size: 20px;
    line-height: 1.5em;
}




.team-member-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fefdfd;
    
}

.team-member-section .team-member-header {
    margin-bottom: 20px;
    
}

.team-memer-header h2 {
    font-size: 2em;
    font-family: 'Lato';
}

.team-member-list .team{
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.team-member {
    width: 80%;
    height: 450px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff700;
    border-radius: 5%;
}

.team-member img {
    width: 175px;
    height: 200px;
    border-radius: 30%;
    margin-bottom: 10px;
}

.team-member-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.team-member-title {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.team-member-experience {
    font-size: 14px;
    line-height: 1.5;
    text-align: left
}

.environment {
    background-color: #f9f5f5;
    padding: 40px;
}

.environment-wrap {
    /* max-width: 960px;
    margin: 0 auto; */
}

.environment-description-box {
    display: flex;
    width: 100%;
    margin-bottom: 3em;
    padding: 1em;
    justify-content: space-evenly;
    align-items: center;
}


.environment-description {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 3em;
    padding: 0 2em;
}

.environment-description h2 {
    margin-bottom: 1em;
    font-size: 2em;
}

.environment-description p {
    font-size: 1.2em;
}

.environment-img-box {
    width: 450px;
    border-radius: 2px;
    overflow: hidden;
}

.environment-img-box img {
    /* display: block; */
    width: 100%;
}

.environment-image-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.environment-image-list li {
    flex: 1;
    margin-right: 20px;
}

.environment-image-list img {
    max-width: 100%;
}

.environment-image-list p {
    margin-top: 10px;
    text-align: center;
}
/*======================== PHOTO SLIDESHOW ===========================*/
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow_container_team {
    margin-bottom: 30px;
}

.slideshow2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides > img {
    height: 600px;
}

/* show first slide by default */
.mySlides:first-child {
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}



@media screen and (max-width: 980px) {
    .team-member img {
            width: 120px;
            height: 120px;
        }

    /* .team-member-list .team {
        grid-template-columns: 1fr 1fr;
    } */
}

@media screen and (max-width: 900px) {

     .team-member-list .team {
        grid-template-columns: 1fr 1fr;
    } 

    .team-member {
        width: 60%;
    }

    .environment-description-box {
        flex-direction: column;
    }

    .environment-description {
        width: 100%;
    }

    .environment-img-box {
        width: 90%;
    }
}

@media screen and (max-width: 580px) {

    .team-member-list .team {
        grid-template-columns: 1fr;
    }

    .team-member {
        width: 80%;
        max-width: 250px;
    }

    .environment-image-list {
        flex-direction: column;
    }
}